/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

* {
  font-family: Optima,Segoe,Segoe UI,Candara,Calibri,Arial,sans-serif; 
}

.App {  
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 0.3fr 4fr 0.3fr;
  gap: 20px 26px;
  grid-auto-flow: row;
  grid-template-areas:
    "header header"
    "boards card-box"
    "footer footer";
}

.card-box { 
  grid-area: card-box; 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header { 
  grid-area: header;
  justify-self: center; 
}

.boards {
  display: grid; 
  grid-template-columns: 1fr; 
  grid-template-rows: 0.4fr 0.8fr 3.7fr; 
  gap: 8px 0px; 
  grid-template-areas: 
    "selected-board"
    "board-list"
    "board-forms"; 
  justify-items: stretch; 
  grid-area: boards; 
}

.selected-board { 
  grid-area: selected-board; 
}

.board-list { 
  grid-area: board-list; 
  height: 10em;
  overflow-y: scroll;
  border: 2px black solid;
}

.board-forms { 
  grid-area: board-forms; 
  align-self: stretch;
}

.footer { 
  grid-area: footer; 
}
